* {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}
drink_shop::before {
   display: block;
   content: "HOMNAO";
   width: 100%;
   height: 30px;
   background-color: #379237;
   text-align: center;
   color: #fff;
   padding: 20px;
   font-weight: bold;
   font-size: x-large;
}

drinks {
   display: table;
   width: 80%;
   box-sizing: border-box;
   text-indent: initial;
   border-spacing: 2px;
   border-color: gray;
   border-collapse: collapse;
   margin: 0 auto;
}

drinks::before {
   display: block;
   content: "Drink";
   height: 20px;
   background-color: #54b435;
   text-align: center;
   color: #fff;
   padding: 10px;
   margin: 0 auto;
   font-weight: bold;
   font-size: larger;
}

drink {
   display: grid;
   grid-template-columns: 50px 222px 222px 222px;
   width: 100%;
   text-align: left;
   border-bottom: 1px solid #ddd;
   padding: 10px 0;
}

customers {
   display: table;
   width: 80%;
   box-sizing: border-box;
   text-indent: initial;
   border-spacing: 2px;
   border-color: gray;
   border-collapse: collapse;
   margin: 0 auto;
}

customers::before {
   display: block;
   content: "Customer";
   height: 20px;
   background-color: #54b435;
   text-align: center;
   color: #fff;
   padding: 10px;
   margin: 0 auto;
   font-weight: bold;
   font-size: larger;
}
customer {
   display: grid;
   grid-template-columns: 50px 222px 222px 222px;
   width: 100%;
   text-align: left;
   border-bottom: 1px solid #ddd;
   padding: 10px 0;
}

orders {
   display: table;
   width: 80%;
   box-sizing: border-box;
   text-indent: initial;
   border-spacing: 2px;
   border-color: gray;
   border-collapse: collapse;
   margin: 0 auto;
}

orders::before {
   display: block;
   content: "Order";
   height: 20px;
   background-color: #54b435;
   text-align: center;
   color: #fff;
   padding: 10px;
   margin: 0 auto;
   font-weight: bold;
   font-size: larger;
}
order {
   display: grid;
   grid-template-columns: 119px 119px 119px 119px 119px 119px;
   width: 100%;
   text-align: left;
   border-bottom: 1px solid #ddd;
   padding: 10px 0;
}

/* drink:nth-child(1)::before {
   color: #000;
   content: "ID";
}

drink:nth-child(2)::before {
   color: #000;
   content: "Name";
}

drink:nth-child(3)::before {
   color: #000;
   content: "Giá";
}

drink:nth-child(4)::before {
   color: #000;
   content: "Mô Tả";
} */

drink:nth-child(1)::before,
drink:nth-child(2)::before,
drink:nth-child(3)::before,
drink:nth-child(4)::before {
   background-color: #b8b8b8;
   color: #000;
   font-weight: bold;
   font-size: large;
}

/* drink:nth-child(1),
customer:nth-child(1),
order:nth-child(1) {
   background-color: #b8b8b8;
   color: #000;
   font-weight: bold;
   font-size: large;
} */

drink:nth-child(2),
drink:nth-child(3),
drink:nth-child(4),
customer:nth-child(2),
customer:nth-child(3),
order:nth-child(2),
order:nth-child(3) {
   background-color: #f2f2f2;
}

drink:nth-child(2):hover,
drink:nth-child(3):hover,
drink:nth-child(4):hover,
customer:nth-child(2):hover,
customer:nth-child(3):hover,
order:nth-child(2):hover,
order:nth-child(3):hover {
   background-color: #ddd;
}
